.main-header
{
 background-color: greenyellow;
 text-align: center;
 font-style: italic;
}
.main-content{
    background-color: rosybrown;
    height: 600px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.profile-pic{
    border-radius: 5000%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.portfolio-content{
    text-align: center;
    text-size-adjust: 100%;
    color: palegreen;
    font-family: cursive;
    font-size: larger;
}

.fss-link{
    color: chartreuse;
    
}

